# Dependências
node_modules/

# Variáveis de ambiente
.env
backend/.env
backend/src/config/pass.env.txt

# Arquivos do sistema
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# Pasta temporária
"Nova pasta/"
